body {
    font-family: 'Arial', sans-serif;
    background-color: #96be37;
    margin: 0px;
    padding: 0px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.profile {
    background-color: #1d7032;
    border-radius: 20px;
    padding: 30px;
    text-align: center;
    width: 800px;
}

.profile-image {
    width: 200px;
    height: 200px;
    border-radius: 70%;
    margin-bottom: 20px;
}

h1 {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
}

p {
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}

.social-links {
    display: flex;
    justify-content: center; 
    gap: 20px; 
    margin-bottom: 20px;
}

.social-links a {
    text-decoration: none;
    color: #033609;
    font-size: 18px;
}

.download-resume {
    margin-top: 20px;
}

.resume-btn {
    text-decoration: none;
    font-size: 1rem;
    color: white;
    background-color: #4CAF50;
    padding: 12px 30px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.resume-btn:hover {
    background-color: #45a049;
}